<nav>
    <ul class="clearfix">
        <li id="nav_dashboard"><a href="#">Dashboard</a></li>
        <li id="nav_activity_plan"><a href="#">Activity plan</a></li>
        <li id="nav_my_orders"><a href="#">My orders</a></li>
        <li id="nav_shop"><a href="#">Shop</a></li>
    </ul>
</nav>
