<h1>Welcome!</h1>
<p>This is an example Bones Wireframe. To customize this page, create a file at <code>app/views/bones/wireframes/example.html.erb</code>.</p>
<p>To create a wireframe called 'registration' add it to <code>app/vies/bones/wireframes/registration.html.erb</code>
  and Bones will find it at the url <code>/bones/wireframes/registration</code>.</p>

  <%= Bones::PersistedModel.find_or_create('event').attributes %>
  <%= Bones::PersistedModel.find_or_create('wibble').attributes %>